{% extends "main.html" %}
{% load i18n %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h3>Listado de Ingresos <a href="{% url "compra_venta:crear_ingresos" %}"><button class="btn btn-dark">Nuevo</button></a></h3>
        </div>
    </div>
  
    <div class="card shadow mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            
                            <th>Fecha</th>
                            <th>Proveedor</th>
                            <th>Tipo Comprobante</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Opciones</th>                        
                        </thead>
                        {% for ingreso in ingresos %}
                            <tr>
                                <td>{{ingreso.created}}</td>
                                <td>{{ingreso.perfil_persona.nombre_persona}}</td>
                                <td>{{ingreso.tipo_comprobante}}-{{ingreso.serie_comprobante}}-{{ingreso.numero_comprobante}}</td>
                                <td>{{ingreso.impuesto}}</td>
                                <td>{{ingreso.obtener_total_ingresos}}</td>
                                <td>{{ingreso.get_estado_display}}</td>
                                <td>
                                    <a href="{% url "compra_venta:detalle_ingreso" ingreso.pk %}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                                    <a href="{% url "compra_venta:eliminar_ingreso" ingreso.pk %}" class="btn btn-outline-danger" data-target="" data-toggle="modal" ><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
