# Environments
.venv
venv/
ENV/

# Distribution / packaging
.Python

# Django stuff:
staticfiles/

*.DS_Store
__pycache__

sisVentas/media

### Project template
.pytest_cache/
htmlcov/
.coverage
.env
.envs/*
!.envs/.local/

# mypy
.mypy_cache/
