{% extends "main.html" %}
{% load i18n %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h3>Listado de Ventas <a href="{% url "compra_venta:crear_ventas" %}"><button class="btn btn-success">Nuevo</button></a></h3>
        </div>
    </div>
  
    <div class="card shadow mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Comprobante</th>
                            <th>Impuesto</th>
                            <th>Total</th>
                            <th>Estado</th>
                            <th>Opciones</th>                        
                        </thead>
                        {% for venta in ventas %}
                            <tr>
                                <td>{{venta.created}}</td>
                                <td>{{venta.perfil_persona.nombre_persona}}</td>
                                <td>{{venta.tipo_comprobante}}-{{venta.serie_comprobante}}-{{venta.numero_comprobante}}</td>
                                <td>{{venta.impuesto}}</td>
                                <td>{{venta.total_venta}}</td>
                                <td>{{venta.get_estado_display}}</td>
                                <td>
                                    <a href="{% url "compra_venta:detalle_venta" venta.pk %}" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                                    <a href="{% url "compra_venta:eliminar_venta" venta.pk %}" class="btn btn-outline-danger" data-target="" data-toggle="modal" ><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
